@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import "../variables/Variables.scss";
html {
  font-size: 62.5%;
}
body {
  color: $priTextColor;
  font-size: 1.4rem;
  font-family: $priFont;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
