@import "../variables/Variables.scss";
// top bar
.topBar {
  border-bottom: 1px solid rgba(51, 62, 72, 0.1);
}
.topBarWrapper {
  height: 3.7rem;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.4rem 0;
}
.topBarRight,
.headerContactBox {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
}
.topBarRight {
  justify-content: flex-end;
}
.customerAccount {
  display: flex;
  gap: 0.5rem;
}
.topBarLink,
#register {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.storeLocation::before,
.order::before,
.customerAccount::before,
.phone::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background: rgba(51, 62, 72, 0.1);
}
.customerAccount,
.order,
.storeLocation,
.phone {
  position: relative;
  padding-right: 1.5rem;
}
.email {
  padding-left: 1.5rem;
}
.phone, .email {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.headerIcon {
  color: $priColor;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
}
.email:hover .headerIcon,
.phone:hover .headerIcon {
  color: $priTextColor;
}
.customerOr {
  color: rgba(51, 62, 72, 0.6);
}
.language {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}
.language img {
  height: 100%;
}
.languageInner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.titleDropDown {
  margin: 0;
  padding-bottom: 1rem;
  color: $priTextColor;
  font-size: 2rem;
}
.modalDropDown {
  width: 100%;
  padding: 0 1.5rem;
  height: 3.5rem;
  cursor: pointer;
}
// header main
.headerMain {
  padding: 3.2rem 0;
}
.headerLogo img {
  width: 12.5rem;
  height: 3rem;
}
.searchBox {
  border-color: $priColor;
}
.headerMainIcon {
  position: relative;
}
// .headerMainIcon .cartLink {
//   display: flex;
// }
.headerMainIcon .number .nItem {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: $priColor;
  transform: translate(1rem, -1.7rem);
}