@import "./components/variables/Variables.scss";
// carousel
.slideShowWrapper {
  position: relative;
  height: 42rem;
  background: url("./assets/images/carousel/bgcCarousel.jpg");
  background-size: cover;
  background-position: center;
}
.carousel-item {
  height: 100%;
  .sliderContent {
    flex-direction: row-reverse;
    .imageLayerBox {
      width: 52rem;
      height: 42rem;
    }
    .contentBox {
      position: absolute;
      top: 10%;
      left: 30%;
      width: 45rem;
      .contentBoxHeading {
        h2 {
          margin-bottom: 1rem;
          font-size: 5.8rem;
          font-weight: 300;
          text-transform: uppercase;
          line-height: 1;
        }
      }
      .contentBoxSubHeading {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
      }
    }
  }
  img {
    object-fit: cover;
  }
}
.carousel-indicators {
  button {
    width: 0.8rem !important;
    height: 0.8rem !important;
    border: unset !important;
    border-radius: 5rem;
    background: #bcbcbc !important;
    margin: 0 0.7rem !important;
    transition: 0.3s ease-in-out !important;
  }
  button:hover,
  button.active {
    width: 3rem !important;
    background: $priColor !important;
  }
}
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  color: #fff;
  opacity: 0;
  background: $priTextColor;
  transition: 0.3s ease-in-out;
}
.slideShowWrapper:hover .carousel-control-next,
.slideShowWrapper:hover .carousel-control-prev {
  opacity: 1;
}
.carousel-control-prev {
  left: 0;
  &-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.carousel-control-right {
  right: 0;
}
// separator
.sectionSeparator {
  padding: 3rem 0;
}
// home banner
.bannerItem {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.2;
    transition: 0.3s ease-in-out;
  }
  &:hover::before {
    top: 0;
  }
}
// tab panel
.tabPanel {
  padding: 3.6rem 0 2.8rem;
}
.navTabWrapper {
  height: 3.5rem;
  margin-bottom: 2rem;
  .navTabs {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 1.8rem;
    border-bottom: 1px solid $gray1;
    height: 100%;
    .navItem {
      .navLink {
        padding-bottom: 0.9rem;
        transition: 0.3s ease-in-out;
        &.active {
          border-bottom: 3px solid $priColor;
          font-weight: 700;
        }
        &:hover:not(.active) {
          border-bottom: 3px solid $priColor;
        }
      }
    }
  }
}
// tab content
.productWrapper {
  width: 45.5rem;
  padding: 2rem 2rem 2.5rem;
  border: 2px solid $priColor;
  border-radius: 2rem;
  .productHead {
    position: relative;
    width: 100%;
    height: 37.674rem;
    margin-bottom: 0.9rem;
    .specialOfferText {
      position: absolute;
      top: 2rem;
      left: 0;
      font-size: 2.2rem;
    }
    .specialProductLabel {
      position: absolute;
      top: 2rem;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 7.6rem;
      height: 7.6rem;
      padding: 1.9rem 0.5rem;
      border-radius: 50%;
      background: $priColor;
      font-size: 1.2rem;
      .percent {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
  .dealStock {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 0 1.1rem;
  }
  .progress {
    height: 2rem;
    border-radius: 5rem;
    &-bar {
      background: $priColor;
      border-radius: 5rem;
    }
  }
  .countDownWrapper {
    .offerText {
      display: block;
      padding-top: 1.7rem;
      font-size: 1.5rem;
      text-align: center;
    }
    .countDown {
      margin-top: 1.5rem;
    }
  }
}
.productName {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.2rem;
  a {
    color: $blueLink !important;
    transition: 0.3s ease-in-out;
    &:hover {
      color: $priColor !important;
    }
  }
}
.productPrice {
  text-align: center;
  .priceSale {
    font-size: 3rem;
    color: $activeColor;
    margin-right: 0.8rem;
  }
  .priceCompare {
    font-size: 1.8rem;
    color: $gray;
    text-decoration: line-through;
  }
}
.countDown {
  .countBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1rem;
    &Item {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      .count {
        height: 4rem;
        padding: 0 0.7rem;
        background: $gray1 !important;
        line-height: 4rem;
        font-size: 3rem;
        font-weight: 500;
      }
      .label {
        font-size: 1.2ren;
        text-transform: uppercase;
      }
    }
    .split {
      display: block;
      font-size: 2.6rem;
      font-weight: 500;
    }
  }
}
// home categories
.productVendor {
  margin-bottom: 0.7rem;
  a {
    font-weight: 300;
    transition: 0.3s ease-in-out;
    &:hover {
      color: $priColor;
    }
  }
}
.hProductWrapper {
  position: relative;
  padding: 0.5rem 1rem;
  overflow: hidden;

  .priceCartWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #fff;
    transition: 0.3s ease-in-out;
    .productPrice {
      text-align: left;
      .priceSale {
        font-size: 2rem;
      }
      .priceCompare {
        font-size: 1.2rem;
      }
    }
    .productAdd {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5rem;
      height: 3.5rem;
      background: $gray1;
      border: 1px solid $gray1;
      border-radius: 50%;
      transition: 0.3s ease-in-out;
      &:hover {
        background: $priColor;
      }
      a {
        color: #fff;
        font-size: 1.6rem;
      }
    }
  }
  .productButton {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0 1.5rem 0.8rem;
    opacity: 0;
    transform: translateY(100%);
    transform-origin: bottom;
    transition: 0.3s ease-in-out;
    .quickShop,
    .productWishlist {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      color: #878787;
      &:hover {
        color: $priColor;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -105%;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border: 3px solid $gray1;
    box-shadow: 0 1px 5px 0 #c6c6c6;
    background: transparent;
    transition: 0.3s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0.1rem;
    height: 70%;
    background: $borderColor;
  }
  &:hover .priceCartWrapper {
    border-bottom-color: $gray1;
  }
  &:hover::before {
    bottom: 0;
    background: rgba(255, 255, 255, 0.921);
  }
  &:hover .productButton {
    opacity: 1;
    transform: translateY(0);
  }
}
