@import "normalize.css";
@import "../typography/Typography.scss";
@import "../variables/Variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a[href] {
  color: $priTextColor;
  text-decoration: none;
}
ul {
  list-style: none;
}
.btnSample {
  background: $priColor;
  border-color: $priColor;
  color: $priTextColor;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $priTextColor;
    border-color: $priTextColor;
    color: #fff;
  }
}
.btnSampleSmall {
  padding: 0.9rem 3rem;
  width: 13rem;
  line-height: 2.7rem;
  font-size: 1.4rem;
  border-radius: 5rem;
}
.btnSampleLarge {
  padding: 0.9rem 5.8rem;
  font-size: 1.8rem;
  border-radius: 1rem;
}
@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-1rem);
  }
  100% {
      transform: translateY(0);
  }
}